/* Variables */
/* Styles */
body {
  font-family: "Work Sans", sans-serif;
  background: #eeeeee;
  letter-spacing: 0.2em;
  margin: 0;
  height: 100vh;
  width: 100vw;
}
body .page {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body .page .enter {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 25%;
}
body .page .enter h1 {
  font-size: 3em;
}
body .page .enter form input[type=text] {
  border: 0;
  height: 4em;
  width: 25em;
  font-size: 1em;
  text-indent: 1em;
  border-radius: 10px;
  margin-top: 1em;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
}
body .page .enter form input[type=text]:focus {
  box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, 0.4);
  outline: none;
}
body .page .locations {
  display: flex;
  align-items: center;
  width: 100%;
  height: calc(65% - 20px);
  margin: 5% 0;
  padding: 10px 0;
  overflow-x: auto;
  cursor: grab;
  scrollbar-width: none;
}
body .page .locations::-webkit-scrollbar {
  display: none;
}
body .page .locations.active {
  cursor: grabbing;
}
body .page .locations .card {
  scroll-snap-align: center;
  position: relative;
  min-width: 400px;
  height: 100%;
  max-height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 3em;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
  background: white;
  border-radius: 5px;
  overflow: hidden;
}
body .page .locations .card:first-of-type {
  margin-left: 3em;
}
body .page .locations .card div.picture {
  background: center center/cover no-repeat;
  height: 50%;
  width: 100%;
}
body .page .locations .card .info {
  display: flex;
  flex-direction: column;
  height: 50%;
  width: 100%;
  align-items: center;
}
body .page .locations .card .info img {
  position: relative;
  top: -50px;
  margin-bottom: -50px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #e7e7e7;
}
body .page .locations .card .info h3 {
  font-size: 2em;
  margin: 0.5em 0 0.4em 0;
}
body .page .locations .card .info h2 {
  transform: scaleY(4) translateY(0.5em);
  margin: 1em 0 0 0;
}

@media screen and (max-width: 1023px) {
  body .page .enter form input[type=text] {
    border: 0;
    height: 4em;
    width: 25em;
    font-size: 1em;
    text-indent: 1em;
    border-radius: 10px;
    margin-top: 1em;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
  }
  body .page .enter form input[type=text]:focus {
    box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, 0.4);
    outline: none;
  }
  body .page .locations {
    scroll-snap-type: x mandatory;
    height: 65%;
  }
  body .page .locations .card {
    scroll-snap-align: center;
    min-width: calc(100% - 5.5em);
    min-height: 100%;
    border-radius: 15px;
  }
  body .page .locations .card:first-of-type {
    margin-left: 3em;
  }
}
@media screen and (max-width: 767px) {
  body .page .enter h1 {
    font-size: 2em;
  }
  body .page .enter form {
    width: 90%;
  }
  body .page .enter form input[type=text] {
    border: 0;
    height: 4em;
    width: 100%;
    font-size: 1em;
    text-indent: 1em;
    border-radius: 10px;
    margin-top: 1em;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
  }
  body .page .enter form input[type=text]:focus {
    box-shadow: inset 0 0 5px 0 rgba(0, 0, 0, 0.4);
    outline: none;
  }
  body .page .locations {
    margin: 0;
    padding: 10% 0 0 0;
    height: 70%;
  }
  body .page .locations .card {
    min-width: 100%;
    border-radius: 0;
    margin-right: 3em;
  }
  body .page .locations .card:first-of-type {
    margin-right: 3em;
  }
}

/*# sourceMappingURL=style.css.map */
